<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <b-field label="Arcane Subtlety" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="2"
            v-model.number="options.character.talents.arcane.arcaneSubtlety"
          />
        </b-field>
        <b-field label="Wand Specialization" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="2"
            v-model.number="options.character.talents.arcane.wandSpecialization"
          />
        </b-field>
        <b-field label="Magic Attunement" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="2"
            v-model.number="options.character.talents.arcane.magicAttunement"
          />
        </b-field>
        <b-field label="Improved Mana Shield" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="2"
            v-model.number="options.character.talents.arcane.improvedManaShield"
          />
        </b-field>
      </div>
      <div class="column">
        <b-field label="Arcane Focus" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="5"
            v-model.number="options.character.talents.arcane.arcaneFocus"
          />
        </b-field>
        <b-field label="Magic Absorption" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="5"
            v-model.number="options.character.talents.arcane.magicAbsorption"
          />
        </b-field>
        <b-field label="Arcane Impact" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="3"
            v-model.number="options.character.talents.arcane.arcaneImpact"
          />
        </b-field>
        <b-field label="Improved Counterspell" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="2"
            v-model.number="options.character.talents.arcane.improvedCounterspell"
          />
        </b-field>
        <b-field label="Presence of Mind" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="1"
            v-model.number="options.character.talents.arcane.presenceOfMind"
          />
        </b-field>
        <b-field label="Arcane Instability" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="3"
            v-model.number="options.character.talents.arcane.arcaneInstability"
          />
        </b-field>
        <b-field label="Arcane Power" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="1"
            v-model.number="options.character.talents.arcane.arcanePower"
          />
        </b-field>
      </div>
      <div class="column">
        <b-field label="Improved Arcane Missiles" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="5"
            v-model.number="options.character.talents.arcane.improvedArcaneMissiles"
          />
        </b-field>
        <b-field label="Arcane Concentration" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="5"
            v-model.number="options.character.talents.arcane.arcaneConcentration"
          />
        </b-field>
        <b-field label="Arcane Resilience" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="1"
            v-model.number="options.character.talents.arcane.arcaneResilience"
          />
        </b-field>
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Accelerated Arcana" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="5"
            v-model.number="options.character.talents.arcane.acceleratedArcana"
          />
        </b-field>
        <b-field label="Arcane Potency" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="3"
            v-model.number="options.character.talents.arcane.arcanePotency"
          />
        </b-field>
        <b-field label="Brilliance Aura" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="1"
            v-model.number="options.character.talents.arcane.brillianceAura"
          />
        </b-field>
      </div>
      <div class="column">
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Arcane Meditation" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="3"
            v-model.number="options.character.talents.arcane.arcaneMeditation"
          />
        </b-field>
      </div>
    </div>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import OptionsInterface from '../wow/interface/Options'

const Props = Vue.extend({
  props: {
    options: Object as () => OptionsInterface
  }
})

@Component
export default class ArcaneTalents extends Props {}
</script>
