<template>
  <div class="content">
    <b-tabs class="block">
      <b-tab-item label="Consumes">
        <div class="columns is-mobile">
          <div class="column">
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.BrilliantWizardOil" v-model="character.buffs">
                Brilliant Wizard Oil
                <a class="turtle-link" :href="bufflinks.BrilliantWizardOil" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.BlessedWizardOil" v-model="character.buffs">
                Blessed Wizard Oil
                <a class="turtle-link" :href="bufflinks.BlessedWizardOil" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox
                class="is-size-7-mobile"
                :native-value="buffs.CerebralCortexCompound"
                v-model="character.buffs"
              >
                Cerebral Cortex Compound
                <a class="turtle-link" :href="bufflinks.CerebralCortexCompound" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.Dreamtonic" v-model="character.buffs">
                Dreamtonic
                <a class="turtle-link" :href="bufflinks.Dreamtonic" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.FlaskOfSupremePower" v-model="character.buffs">
                Flask of Supreme Power
                <a class="turtle-link" :href="bufflinks.FlaskOfSupremePower" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.DreamshardElixir" v-model="character.buffs">
                Dreamshard Elixir
                <a class="turtle-link" :href="bufflinks.DreamshardElixir" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.ElixirOfFrostPower" v-model="character.buffs">
                Elixir of Frost Power
                <a class="turtle-link" :href="bufflinks.ElixirOfFrostPower" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox
                class="is-size-7-mobile"
                :native-value="buffs.ElixirOfGreaterFirePower"
                v-model="character.buffs"
              >
                Elixir of Greater Fire Power
                <a class="turtle-link" :href="bufflinks.ElixirOfGreaterFirePower" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.GreaterArcaneElixir" v-model="character.buffs">
                Greater Arcane Elixir
                <a class="turtle-link" :href="bufflinks.GreaterArcaneElixir" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
          </div>
        </div>
      </b-tab-item>
      <b-tab-item label="Food">
        <div class="columns is-mobile">
          <div class="column">
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.TelAbimDelight" v-model="character.buffs">
                Danonzo's Tel'Abim Delight
                <a class="turtle-link" :href="bufflinks.TelAbimDelight" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>

            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.TelAbimMedley" v-model="character.buffs">
                Danonzo's Tel'Abim Medley
                <a class="turtle-link" :href="bufflinks.TelAbimMedley" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>

            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.MedivhsMerlotBlue" v-model="character.buffs">
                Medivh's Merlot Blue
                <a class="turtle-link" :href="bufflinks.MedivhsMerlotBlue" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>

            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.RunnTumTuberSurprise" v-model="character.buffs">
                Runn Tum Tuber Surprise
                <a class="turtle-link" :href="bufflinks.RunnTumTuberSurprise" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
          </div>
        </div>
      </b-tab-item>
      <b-tab-item label="Spell Buffs">
        <div class="columns is-mobile">
          <div class="column">
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.ArcaneBrilliance" v-model="character.buffs">
                Arcane Brilliance
                <a class="turtle-link" :href="bufflinks.ArcaneBrilliance" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.MageArmor" v-model="character.buffs">
                Mage Armor
                <a class="turtle-link" :href="bufflinks.MageArmor" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.BlessingOfKings" v-model="character.buffs">
                Blessing of Kings
                <a class="turtle-link" :href="bufflinks.BlessingOfKings" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.BlessingOfWisdom" v-model="character.buffs">
                Blessing of Wisdom
                <a class="turtle-link" :href="bufflinks.BlessingOfWisdom" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.EmeraldBlessing" v-model="character.buffs">
                Emerald Blessing
                <a class="turtle-link" :href="bufflinks.EmeraldBlessing" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.GiftOfTheWildRk2" v-model="character.buffs">
                Gift of the Wild Rank 2
                <a class="turtle-link" :href="bufflinks.GiftOfTheWildRk2" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
          </div>
        </div>
      </b-tab-item>
      <b-tab-item label="Temporary Buffs">
        <div class="columns is-mobile">
          <div class="column">
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.BurningAdrenaline" v-model="character.buffs">
                Burning Adrenaline
                <a class="turtle-link" :href="bufflinks.BurningAdrenaline" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.ThaddiusCharges" v-model="character.buffs">
                19 Thaddius Charges (2.9x dmg)
                <a class="turtle-link" :href="bufflinks.ThaddiusCharges" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
          </div>
        </div>
      </b-tab-item>
      <b-tab-item label="Auras">
        <div class="columns is-mobile">
          <div class="column">
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.MoonkinAura" v-model="character.buffs">
                Moonkin Aura (3% crit)
                <a class="turtle-link" :href="bufflinks.MoonkinAura" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.MoonkinAuraMoonclaw" v-model="character.buffs">
                Moonkin Aura - Idol of the Moonclaw (extra 1% crit)
                <a class="turtle-link" :href="bufflinks.MoonkinAuraMoonclaw" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.ManaSpringTotem" v-model="character.buffs">
                Mana Spring Totem
                <a class="turtle-link" :href="bufflinks.ManaSpringTotem" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.AtieshAuraDruid" v-model="character.buffs">
                Druid Atiesh (11 mp5) - Power of the Guardian
                <a class="turtle-link" :href="bufflinks.AtieshAuraDruid" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.AtieshAuraMage" v-model="character.buffs">
                Mage Atiesh (2% crit) - Power of the Guardian
                <a class="turtle-link" :href="bufflinks.AtieshAuraMage" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.AtieshAuraWarlock" v-model="character.buffs">
                Warlock Atiesh (33 sp) - Power of the Guardian
                <a class="turtle-link" :href="bufflinks.AtieshAuraWarlock" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
          </div>
        </div>
      </b-tab-item>
      <b-tab-item label="World Buffs">
        <div class="columns is-mobile">
          <div class="column">
            <div class="field">
              <b-checkbox
                class="is-size-7-mobile"
                :native-value="buffs.RallyingCryOfTheDragonSlayer"
                v-model="character.buffs"
              >
                Rallying Cry of the Dragon Slayer
                <a class="turtle-link" :href="bufflinks.RallyingCryOfTheDragonSlayer" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.SaygesDarkFortune" v-model="character.buffs">
                Sayge's Dark Fortune
                <a class="turtle-link" :href="bufflinks.SaygesDarkFortune" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.SlipkiksSavvy" v-model="character.buffs">
                Slip'kik's Saavy
                <a class="turtle-link" :href="bufflinks.SlipkiksSavvy" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.SongflowerSerenade" v-model="character.buffs">
                Songflower Serenade
                <a class="turtle-link" :href="bufflinks.SongflowerSerenade" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.SpiritOfZandalar" v-model="character.buffs">
                Spirit of Zandalar
                <a class="turtle-link" :href="bufflinks.SpiritOfZandalar" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
            <div class="field">
              <b-checkbox class="is-size-7-mobile" :native-value="buffs.TracesOfSilithyst" v-model="character.buffs">
                Traces of Silithyst
                <a class="turtle-link" :href="bufflinks.TracesOfSilithyst" target="_blank">
                  <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
                </a>
              </b-checkbox>
            </div>
          </div>
        </div>
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import Buffs, { BuffLinks } from '@/wow/enum/Buffs'
import OptionsCharacter from '@/wow/interface/OptionsCharacter'
import { Component, Vue } from 'vue-property-decorator'

const Props = Vue.extend({
  props: {
    character: Object as () => OptionsCharacter
  }
})

@Component
export default class BuffSettings extends Props {
  buffs = Buffs
  bufflinks = BuffLinks
}
</script>
