<template>
  <div>
    <Header :damageData="this.encounter.damage" />
    <section class="section has-background-black-bis">
      <div class="container is-fluid">
        <div class="tile is-ancestor">
          <div class="tile is-parent is-5">
            <article class="tile is-child box has-background-black-ter has-text-white">
              <h4>Settings</h4>
              <b-tabs class="block">
                <b-tab-item label="General">
                  <GeneralSettings :encounter="this.encounter" />
                </b-tab-item>
                <b-tab-item label="Buffs">
                  <BuffSettings :character="this.encounter.options.character" />
                </b-tab-item>
                <b-tab-item label="Talents">
                  <Talents :options="this.encounter.options" />
                </b-tab-item>
                <b-tab-item label="Target">
                  <TargetSettings :encounter="this.encounter" />
                </b-tab-item>
                <b-tab-item label="Mana">
                  <ManaSettings :encounter="this.encounter" />
                </b-tab-item>
              </b-tabs>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box has-background-black-ter has-text-white">
              <h4>Gear</h4>
              <Gear :encounter="this.encounter" />
            </article>
          </div>
        </div>
      </div>
    </section>
    <section class="section has-background-black-bis">
      <div class="container is-fluid">
        <div class="tile is-ancestor">
          <div class="tile">
            <article
              class="tile is-child box has-background-black-ter has-text-white damage"
              style="border-width: 0px; align-items: center;"
            >
              <h4>DamageData</h4>
              <SpellTooltip :damageData="this.encounter.damage" />
              <hr style="height: 1px; background-color: #4a4a4a;" />
              <Damage :damageData="this.encounter.damage" />
            </article>
            <article class="tile is-child box has-background-black-ter has-text-white mana">
              <h4>Mana</h4>
              <Mana
                :spellCast="this.encounter.spellCast"
                :damageData="this.encounter.damage"
                :manaData="this.encounter.spellCast.manaData"
              />
            </article>
            <article class="tile is-child box has-background-black-ter has-text-white stats">
              <h4>Stats</h4>
              <Stats :spellCast="this.encounter.spellCast" />
            </article>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style scoped>
h4 {
  text-align: center;
  margin-bottom: 1em;
}

.attributes {
  padding-top: 1em;
}

.info {
  padding-top: 0;
}

.damage {
  max-width: 60%;
}

.mana {
  max-width: 20%;
}

.stats {
  max-width: 20%;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import Header from './Header.vue'

import Encounter from '@/wow/class/Encounter'
import Stats from './Stats.vue'
import Mana from './Mana.vue'
import BuffSettings from './BuffSettings.vue'
import Debug from './Debug.vue'
import Gear from './Gear.vue'
import GeneralSettings from './GeneralSettings.vue'
import SpellTooltip from './SpellTooltip.vue'
import Talents from './Talents.vue'
import TargetSettings from './TargetSettings.vue'
import ManaSettings from './ManaSettings.vue'
import Damage from '@/components/Damage.vue'

const Props = Vue.extend({
  props: {
    encounter: Encounter
  }
})

@Component({
  components: {
    Header,
    SpellTooltip,
    Stats,
    GeneralSettings,
    Gear,
    Mana,
    Talents,
    BuffSettings,
    TargetSettings,
    ManaSettings,
    Damage,
    Debug
  },
  props: {
    encounter: Encounter
  }
})
export default class Content extends Props {}
</script>
