<template>
  <div class="container is-fluid">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>
            <span class="is-size-7 has-text-warning">
              Periodic (Coefficient: {{ (this.damageData.cast.spell.coefficient.periodic * 100).toFixed(2) }}%)
            </span>
          </th>
          <th>
            <span class="is-size-7 has-text-weight-bold has-text-white">Tick</span>
          </th>
          <th>
            <span class="is-size-7 has-text-weight-bold has-text-white">Total</span>
          </th>
          <th>
            <span class="is-size-7 has-text-weight-bold has-text-white">Uptime</span>
          </th>
          <th>
            <span class="is-size-7 has-text-white">Total Dmg</span>
          </th>
          <th>
            <span class="is-size-7 has-text-weight-bold has-text-white">Encounter DPS</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <b-tooltip v-bind:label="tooltipBase" multilined>
              <span class="is-size-7 has-text-weight-bold">Base</span>
            </b-tooltip>
          </td>
          <td>
            <span class="is-size-7">
              {{ this.damageData.periodicDmg.base.tickText }}
            </span>
          </td>
          <td>
            <span class="is-size-7">
              {{ this.damageData.periodicDmg.base.totalText }}
            </span>
          </td>
          <td>
            <span class="is-size-7"> {{ this.damageData.periodicDmg.base.uptime }}% </span>
          </td>
          <td>
            <span class="is-size-7"> {{ this.totalDmg(this.damageData.periodicDmg.base).toFixed(0) }} </span>
          </td>
          <td>
            <span class="is-size-7">
              {{ this.damageData.periodicDPS.base.text }}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <b-tooltip v-bind:label="tooltipActual" multilined>
              <span class="is-size-7 has-text-weight-bold">Actual</span>
            </b-tooltip>
          </td>
          <td>
            <span class="is-size-7">
              {{ this.damageData.periodicDmg.actual.tickText }}
            </span>
          </td>
          <td>
            <span class="is-size-7">
              {{ this.damageData.periodicDmg.actual.totalText }}
            </span>
          </td>
          <td>
            <span class="is-size-7"> {{ this.damageData.periodicDmg.actual.uptime }}% </span>
          </td>
          <td>
            <span class="is-size-7">
              <span class="is-size-7"> {{ this.totalDmg(this.damageData.periodicDmg.actual).toFixed(0) }} </span>
            </span>
          </td>
          <td>
            <span class="is-size-7">
              {{ this.damageData.periodicDPS.actual.text }}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <b-tooltip v-bind:label="tooltipEffective" multilined>
              <span class="is-size-7 has-text-weight-bold">Effective</span>
            </b-tooltip>
          </td>
          <td>
            <span class="is-size-7">
              {{ this.damageData.periodicDmg.effective.tickText }}
            </span>
          </td>
          <td>
            <span class="is-size-7">
              {{ this.damageData.periodicDmg.effective.totalText }}
            </span>
          </td>
          <td>
            <span class="is-size-7"> {{ this.damageData.periodicDmg.effective.uptime }}% </span>
          </td>
          <td>
            <span class="is-size-7"> {{ this.totalDmg(this.damageData.periodicDmg.effective).toFixed(0) }} </span>
          </td>
          <td>
            <span class="is-size-7 has-text-success has-text-weight-bold">
              {{ this.damageData.periodicDPS.effective.text }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
</template>

<style scoped>
td {
  border: 0px;
  width: 20%;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import DamageData from '@/wow/class/DamageData'
import CastDmgValues from '@/wow/interface/CastPeriodicDmgValues'

const Props = Vue.extend({
  props: {
    damageData: DamageData
  }
})

@Component({
  props: {
    damageData: DamageData
  }
})
export default class Damage extends Props {
  tooltipBase =
    'Base damage is the spells damage including talents that modify the base, such as Moonfury. This is the damage listed in the in-game spellbook.'
  tooltipActual = 'Actual damage is base damage plus (spellpower * spell coefficient)'
  tooltipEffective = 'Effective damage is actual damage plus multipliers from buffs, debuffs, and partial resists'

  totalDmg(periodicDmgValues: CastDmgValues) {
    return (periodicDmgValues.tick * (this.damageData.cast.numTicks - 1) * periodicDmgValues.uptime) / 100
  }
}
</script>
