<template>
  <div class="container is-fluid">
    <table class="table is-fullwidth">
      <DamageDirect v-if="hasDirectDamage" :damageData="damageData" />
      <DamagePeriodic v-if="hasPeriodicDamage" :damageData="damageData" />
      <DamageIgnite v-if="hasIgniteDamage" :igniteData="this.damageData.igniteData()" />
      <DamageTrinkets
        v-if="this.damageData.cast.hasTrinkets"
        :trinketDisplayValues="this.damageData.trinketDisplayValues"
        :encounterLength="this.damageData.cast.options.encLen"
      />
      <DamageHaste
        v-if="this.damageData.cast.hasHaste"
        :hasteDisplayValues="this.damageData.hasteDisplayValues()"
        :encounterLength="this.damageData.cast.options.encLen"
      />
      <DamagePots
        v-if="useQuickness"
        :quicknessDisplayValues="this.damageData.quicknessDisplayValues"
        :encounterLength="this.damageData.cast.options.encLen"
      />
    </table>
    <br />
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import DamageDirect from '@/components/DamageDirect.vue'
import DamagePeriodic from '@/components/DamagePeriodic.vue'
import DamageIgnite from '@/components/DamageIgnite.vue'
import DamageTrinkets from '@/components/DamageTrinkets.vue'
import DamageHaste from '@/components/DamageHaste.vue'
import DamagePots from '@/components/DamagePots.vue'
import DamageData from '@/wow/class/DamageData'

export const Props = Vue.extend({
  props: {
    damageData: DamageData
  }
})

@Component({
  components: {
    DamageDirect,
    DamagePeriodic,
    DamageIgnite,
    DamageTrinkets,
    DamageHaste,
    DamagePots
  },
  props: {
    damageData: DamageData
  }
})
export default class Damage extends Props {
  get hasDirectDamage() {
    return this.damageData.normalDmg().effective.avg > 0
  }

  get hasPeriodicDamage() {
    return this.damageData.periodicDmg.effective.total > 0
  }

  get hasIgniteDamage() {
    return this.damageData.igniteData().totalExpectedDmg > 0
  }

  get useQuickness() {
    return this.damageData.cast.options.useQp
  }
}
</script>
