<template>
  <div class="container is-fluid">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th class="name">
            <span class="is-size-7 has-text-warning"> Spell Haste ({{ encounterLength }} sec encounter) </span>
          </th>
          <th class="value">
            <span class="is-size-7 has-text-weight-bold has-text-white">Casts without haste</span>
          </th>
          <th class="value">
            <span class="is-size-7 has-text-weight-bold has-text-white">Hasted Casts</span>
          </th>
          <th class="value" v-if="hasIgniteDmg">
            <span class="is-size-7 has-text-weight-bold has-text-white">Added Ignite Dmg</span>
          </th>
          <th class="value">
            <span class="is-size-7 has-text-weight-bold has-text-white">Added Spell Dmg</span>
          </th>
          <th class="value">
            <span class="is-size-7 has-text-weight-bold has-text-white">Total Added Dmg</span>
          </th>
          <th class="value">
            <span class="is-size-7 has-text-weight-bold has-text-white">Avg SP Per Cast</span>
          </th>
          <th class="value">
            <span class="is-size-7 has-text-weight-bold has-text-white">Encounter DPS</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- loop through items -->
        <tr>
          <td class="value">
            <span class="is-size-7">
              {{ hasteDisplayValues.hastePercent }}% Spell Haste (-{{ hasteDisplayValues.castTimeReduction.toFixed(2) }}
              sec per cast)
            </span>
          </td>
          <td class="value">
            <span class="is-size-7">
              {{ hasteDisplayValues.castsWithoutHaste }}
            </span>
          </td>
          <td class="value">
            <span class="is-size-7">
              {{ hasteDisplayValues.castsWithHaste }} ( + {{ hasteDisplayValues.additionalCasts }})
            </span>
          </td>
          <td class="value" v-if="hasIgniteDmg">
            <span class="is-size-7"> {{ hasteDisplayValues.addedIgniteDmg.toFixed(1) }} </span>
          </td>
          <td class="value">
            <span class="is-size-7"> {{ hasteDisplayValues.addedSpellDmg.toFixed(1) }} </span>
          </td>
          <td class="value">
            <span class="is-size-7"> {{ hasteDisplayValues.totalDmg }} </span>
          </td>
          <td class="value">
            <span class="is-size-7"> {{ hasteDisplayValues.avgSPPerCast.toFixed(1) }} </span>
          </td>
          <td class="value">
            <span class="is-size-7"> {{ hasteDisplayValues.encounterDPS.toFixed(1) }} </span>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
</template>

<style scoped>
td {
  border: 0px;
}

.name {
  width: 16%;
}

.value {
  width: 7%;
}
</style>

<script lang="ts">
import HasteDisplayValues from '@/wow/interface/HasteDisplayValues'
import { Component, Vue } from 'vue-property-decorator'

const Props = Vue.extend({
  props: {
    hasteDisplayValues: Object as () => HasteDisplayValues,
    encounterLength: Number
  }
})

@Component({
  props: {
    hasteDisplayValues: Object as () => HasteDisplayValues,
    encounterLength: Number
  }
})
export default class Damage extends Props {
  get hasIgniteDmg() {
    return this.hasteDisplayValues.addedIgniteDmg > 0
  }
}
</script>
