<template>
  <div class="container is-fluid">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th class="name">
            <span class="is-size-7 has-text-warning"> Trinkets ({{ encounterLength }} sec encounter) </span>
          </th>
          <th class="value">
            <span class="is-size-7 has-text-weight-bold has-text-white">Buffed Casts</span>
          </th>
          <th class="value">
            <span class="is-size-7 has-text-weight-bold has-text-white">Avg SP Per Buffed Cast</span>
          </th>
          <th class="value">
            <span class="is-size-7 has-text-weight-bold has-text-white">Uptime</span>
          </th>
          <th class="value">
            <span class="is-size-7 has-text-weight-bold has-text-white">Total Dmg</span>
          </th>
          <th class="value">
            <span class="is-size-7 has-text-weight-bold has-text-white">Total Casts</span>
          </th>
          <th class="value">
            <span class="is-size-7 has-text-weight-bold has-text-white">Avg SP Per Cast</span>
          </th>
          <th class="value">
            <span class="is-size-7 has-text-weight-bold has-text-white">Encounter DPS</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- loop through items -->
        <tr
          v-for="(displayValue, index) in trinketDisplayValues"
          :key="displayValue.name + displayValue.type + index.toString()"
        >
          <td class="name">
            <b-tooltip v-bind:label="tooltipBase" multilined>
              <span class="is-size-7 has-text-weight-bold">{{ displayValue.name }} ({{ displayValue.type }})</span>
            </b-tooltip>
          </td>
          <td class="value">
            <span class="is-size-7"> {{ displayValue.buffedCasts ? displayValue.buffedCasts : '-' }} </span>
          </td>
          <td class="value">
            <span class="is-size-7">
              {{ displayValue.avgSPPerBuffedCast ? displayValue.avgSPPerBuffedCast.toFixed(0) : '-' }}
            </span>
          </td>
          <td class="value">
            <span class="is-size-7"> {{ displayValue.uptime }} </span>
          </td>
          <td class="value">
            <span class="is-size-7"> {{ displayValue.totalDmg }} </span>
          </td>
          <td class="value">
            <span class="is-size-7"> {{ displayValue.totalCasts }} </span>
          </td>
          <td class="value">
            <span class="is-size-7"> {{ displayValue.avgSPPerCast.toFixed(1) }} </span>
          </td>
          <td class="value">
            <span class="is-size-7"> {{ displayValue.encounterDPS.toFixed(1) }} </span>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
</template>

<style scoped>
td {
  border: 0px;
}
.name {
  width: 16%;
}
.value {
  width: 7%;
}
</style>

<script lang="ts">
import TrinketDisplayValues from '@/wow/interface/TrinketDisplayValues'
import { Component, Vue } from 'vue-property-decorator'

const Props = Vue.extend({
  props: {
    trinketDisplayValues: Array as () => TrinketDisplayValues[],
    encounterLength: Number
  }
})

@Component
export default class Damage extends Props {
  tooltipBase =
    'Base damage is the spells damage including talents that modify the base, such as Moonfury. This is the damage listed in the in-game spellbook.'
  tooltipActual = 'Actual damage is base damage plus (spellpower * spell coefficient)'
  tooltipEffective = 'Effective damage is actual damage plus multipliers from buffs, debuffs, and partial resists'
}
</script>
