<template>
  <div class="container is-fluid">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>
            <span class="is-size-7 has-text-warning">
              Direct (Coefficient: {{ (this.damageData.cast.spell.coefficient.direct * 100).toFixed(2) }}%)
            </span>
          </th>
          <th>
            <span class="is-size-7 has-text-white">Normal</span>
          </th>
          <th>
            <span class="is-size-7 has-text-white">Crit</span>
          </th>
          <th>
            <span class="is-size-7 has-text-white">EV</span>
          </th>
          <th>
            <span class="is-size-7 has-text-white">Total Dmg<br />(No haste)</span>
          </th>
          <th>
            <span class="is-size-7 has-text-white">Encounter DPS</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <b-tooltip v-bind:label="tooltipBase" multilined>
              <span class="is-size-7 has-text-weight-bold">Base</span>
            </b-tooltip>
          </td>
          <td>
            <span class="is-size-7">{{ this.damageData.normalDmg().base.text }}</span>
          </td>
          <td>
            <span class="is-size-7">{{ this.damageData.critDmg().base.text }}</span>
          </td>
          <td>
            <span class="is-size-7">{{
              getExpectedDamageValue(this.damageData.normalDmg().base, this.damageData.critDmg().base).toFixed(0)
            }}</span>
          </td>
          <td>
            <span class="is-size-7">{{
              getExpectedTotalDamage(this.damageData.normalDmg().base, this.damageData.critDmg().base).toFixed(0)
            }}</span>
          </td>
          <td>
            <span class="is-size-7">{{ this.damageData.dps().base.avg.toFixed(0) }}</span>
          </td>
        </tr>
        <tr>
          <td>
            <b-tooltip v-bind:label="tooltipActual" multilined>
              <span class="is-size-7 has-text-weight-bold">Actual</span>
            </b-tooltip>
          </td>
          <td>
            <span class="is-size-7">{{ this.damageData.normalDmg().actual.text }}</span>
          </td>
          <td>
            <span class="is-size-7">{{ this.damageData.critDmg().actual.text }}</span>
          </td>
          <td>
            <span class="is-size-7">{{
              getExpectedDamageValue(this.damageData.normalDmg().actual, this.damageData.critDmg().actual).toFixed(0)
            }}</span>
          </td>
          <td>
            <span class="is-size-7">{{
              getExpectedTotalDamage(this.damageData.normalDmg().actual, this.damageData.critDmg().actual).toFixed(0)
            }}</span>
          </td>
          <td>
            <span class="is-size-7">{{ this.damageData.dps().actual.avg.toFixed(0) }}</span>
          </td>
        </tr>
        <tr>
          <td>
            <b-tooltip v-bind:label="tooltipEffective" multilined>
              <span class="is-size-7 has-text-weight-bold">Effective</span>
            </b-tooltip>
          </td>
          <td>
            <span class="is-size-7">{{ this.damageData.normalDmg().effective.text }}</span>
          </td>
          <td>
            <span class="is-size-7">{{ this.damageData.critDmg().effective.text }}</span>
          </td>
          <td>
            <span class="is-size-7">{{
              getExpectedDamageValue(
                this.damageData.normalDmg().effective,
                this.damageData.critDmg().effective
              ).toFixed(0)
            }}</span>
          </td>
          <td>
            <span class="is-size-7">{{
              getExpectedTotalDamage(
                this.damageData.normalDmg().effective,
                this.damageData.critDmg().effective
              ).toFixed(0)
            }}</span>
          </td>
          <td>
            <span class="is-size-7 has-text-success has-text-weight-bold">{{
              this.damageData.dps().effective.avg.toFixed(0)
            }}</span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
</template>

<style scoped>
td {
  border: 0px;
  width: 20%;
}
</style>

<script lang="ts">
import CastDmgValues from '@/wow/interface/CastDmgValues'
import { Component, Vue } from 'vue-property-decorator'
import DamageData from '@/wow/class/DamageData'

const Props = Vue.extend({
  props: {
    damageData: DamageData
  }
})

@Component({
  props: {
    damageData: DamageData
  }
})
export default class Damage extends Props {
  tooltipBase =
    'Base damage is the spells damage including talents that modify the base, such as Moonfury. This is the damage listed in the in-game spellbook.'
  tooltipActual = 'Actual damage is base damage plus (spellpower * spell coefficient)'
  tooltipEffective = 'Effective damage is actual damage plus multipliers from buffs, debuffs, and partial resists'

  getExpectedDamageValue(normal: CastDmgValues, crit: CastDmgValues) {
    return (
      normal.avg * this.damageData.cast.percentChanceToNormal() + crit.avg * this.damageData.cast.percentChanceToCrit()
    )
  }

  getExpectedTotalDamage(normal: CastDmgValues, crit: CastDmgValues) {
    const expectedDmgPerCast = this.getExpectedDamageValue(normal, crit)
    return expectedDmgPerCast * this.damageData.numCastsWithoutHaste()
  }
}
</script>
