<template>
  <div class="container is-fluid">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th class="name">
            <span class="is-size-7 has-text-warning"> Quickness Pots ({{ encounterLength }} sec encounter) </span>
          </th>
          <th class="value">
            <span class="is-size-7 has-text-weight-bold has-text-white">Uptime</span>
          </th>
          <th class="value">
            <span class="is-size-7 has-text-weight-bold has-text-white">Effective Haste %</span>
          </th>
          <th class="value">
            <span class="is-size-7 has-text-weight-bold has-text-white">Additional Casts</span>
          </th>
          <th class="value">
            <span class="is-size-7 has-text-weight-bold has-text-white">Total Dmg</span>
          </th>
          <th class="value">
            <span class="is-size-7 has-text-weight-bold has-text-white">Avg SP Per Cast</span>
          </th>
          <th class="value">
            <span class="is-size-7 has-text-weight-bold has-text-white">Encounter DPS</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- loop through items -->
        <tr>
          <td class="value">
            <span class="is-size-7">
              5% Spell Haste On Use (-{{ quicknessDisplayValues.castTimeReduction.toFixed(2) }}
              sec per cast)
            </span>
          </td>
          <td class="value">
            <span class="is-size-7">
              {{ quicknessDisplayValues.uptime }}
            </span>
          </td>
          <td class="value">
            <span class="is-size-7">
              {{ quicknessDisplayValues.effectiveHastePercent }}
            </span>
          </td>
          <td class="value">
            <span class="is-size-7"> {{ quicknessDisplayValues.additionalCasts }} </span>
          </td>
          <td class="value">
            <span class="is-size-7"> {{ quicknessDisplayValues.totalDmg }} </span>
          </td>
          <td class="value">
            <span class="is-size-7"> {{ quicknessDisplayValues.avgSPPerCast.toFixed(1) }} </span>
          </td>
          <td class="value">
            <span class="is-size-7"> {{ quicknessDisplayValues.encounterDPS.toFixed(1) }} </span>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
</template>

<style scoped>
td {
  border: 0px;
}

.name {
  width: 16%;
}

.value {
  width: 7%;
}
</style>

<script lang="ts">
import QuicknessDisplayValues from '@/wow/interface/QuicknessDisplayValues'
import { Component, Vue } from 'vue-property-decorator'

const Props = Vue.extend({
  props: {
    quicknessDisplayValues: Object as () => QuicknessDisplayValues,
    encounterLength: Number
  }
})

@Component
export default class Damage extends Props {}
</script>
