<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Ignite" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="5"
            v-model.number="options.character.talents.fire.ignite"
          />
        </b-field>
        <!-- incinerate -->
        <b-field label="Incinerate" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="2"
            v-model.number="options.character.talents.fire.incinerate"
          />
        </b-field>
        <b-field label="Improved Scorch" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="3"
            v-model.number="options.character.talents.fire.improvedScorch"
          />
        </b-field>
      </div>
      <div class="column">
        <b-field label="Improved Fireball" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="5"
            v-model.number="options.character.talents.fire.improvedFireball"
          />
        </b-field>
        <b-field label="Flame Throwing" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="2"
            v-model.number="options.character.talents.fire.flameThrowing"
          />
        </b-field>
        <b-field label="Improved Flamestrike" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="3"
            v-model.number="options.character.talents.fire.improvedFlamestrike"
          />
        </b-field>
        <b-field label="Improved Fire Ward" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="2"
            v-model.number="options.character.talents.fire.improvedFireWard"
          />
        </b-field>
        <b-field label="Critical Mass" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="3"
            v-model.number="options.character.talents.fire.criticalMass"
          />
        </b-field>
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Combustion" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="1"
            v-model.number="options.character.talents.fire.combustion"
          />
        </b-field>
      </div>
      <div class="column">
        <b-field label="Impact" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="5"
            v-model.number="options.character.talents.fire.impact"
          />
        </b-field>
        <b-field label="Improved Fire Blast" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="5"
            v-model.number="options.character.talents.fire.improvedFireBlast"
          />
        </b-field>
        <b-field label="Pyroblast" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="1"
            v-model.number="options.character.talents.fire.pyroblast"
          />
        </b-field>
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Blast Wave" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="1"
            v-model.number="options.character.talents.fire.blastWave"
          />
        </b-field>
        <b-field label="Fire Power" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="5"
            v-model.number="options.character.talents.fire.firePower"
          />
        </b-field>
      </div>
      <div class="column">
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Burning Soul" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="2"
            v-model.number="options.character.talents.fire.burningSoul"
          />
        </b-field>
        <b-field label="Master of Elements" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="3"
            v-model.number="options.character.talents.fire.masterOfElements"
          />
        </b-field>
      </div>
    </div>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import OptionsInterface from '../wow/interface/Options'

const Props = Vue.extend({
  props: {
    options: Object as () => OptionsInterface
  }
})

@Component
export default class FrostTalents extends Props {}
</script>
