<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <b-field label="Frost Warding" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="2"
            v-model.number="options.character.talents.frost.frostWarding"
          />
        </b-field>
        <b-field label="Ice Shards" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="5"
            v-model.number="options.character.talents.frost.iceShards"
          />
        </b-field>
        <b-field label="Piercing Ice" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="3"
            v-model.number="options.character.talents.frost.piercingIce"
          />
        </b-field>
        <b-field label="Arctic Reach" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="2"
            v-model.number="options.character.talents.frost.arcticReach"
          />
        </b-field>
      </div>
      <div class="column">
        <b-field label="Improved Frostbolt" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="5"
            v-model.number="options.character.talents.frost.improvedFrostbolt"
          />
        </b-field>
        <b-field label="Frostbite" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="3"
            v-model.number="options.character.talents.frost.frostbite"
          />
        </b-field>
        <b-field label="Cold Snap" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="1"
            v-model.number="options.character.talents.frost.coldSnap"
          />
        </b-field>
        <b-field label="Frost Channeling" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="3"
            v-model.number="options.character.talents.frost.frostChanneling"
          />
        </b-field>
        <b-field label="Ice Block" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="1"
            v-model.number="options.character.talents.frost.iceBlock"
          />
        </b-field>
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Ice Barrier" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="1"
            v-model.number="options.character.talents.frost.iceBarrier"
          />
        </b-field>
      </div>
      <div class="column">
        <b-field label="Elemental Precision" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="3"
            v-model.number="options.character.talents.frost.elementalPrecision"
          />
        </b-field>
        <b-field label="Improved Frost Nova" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="2"
            v-model.number="options.character.talents.frost.improvedFrostNova"
          />
        </b-field>
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Shatter" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="5"
            v-model.number="options.character.talents.frost.shatter"
          />
        </b-field>
        <b-field label="Improved Cone of Cold" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="3"
            v-model.number="options.character.talents.frost.improvedConeOfCold"
          />
        </b-field>
        <b-field label="Winter's Chill" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="5"
            v-model.number="options.character.talents.frost.wintersChill"
          />
        </b-field>
      </div>
      <div class="column">
        <b-field label="" label-position="on-border">
          <input class="input is-size-7-mobile" style="visibility:hidden;" />
        </b-field>
        <b-field label="Permafrost" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="3"
            v-model.number="options.character.talents.frost.permafrost"
          />
        </b-field>
        <b-field label="Improved Blizzard" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            type="number"
            min="0"
            max="3"
            v-model.number="options.character.talents.frost.improvedBlizzard"
          />
        </b-field>
      </div>
    </div>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import OptionsInterface from '../wow/interface/Options'

const Props = Vue.extend({
  props: {
    options: Object as () => OptionsInterface
  }
})

@Component
export default class FrostTalents extends Props {}
</script>
