<template>
  <div>
    <b-button class="btn">
      <font-awesome-layers>
        <!--<font-awesome-icon icon="tshirt" transform="up-3 left-4" size="lg" />-->
        <font-awesome-icon icon="file-import" transform="up-4 left-2" size="lg" style="color: white;" />
        <font-awesome-layers-text class="gray8" transform="down-11 shrink-5" v-bind:value="topText" />
        <font-awesome-layers-text class="gray8" transform="down-22 shrink-5" v-bind:value="bottomText" />
      </font-awesome-layers>
    </b-button>
  </div>
</template>

<style scoped>
.btn {
  background-color: dimgrey;
  border-color: transparent;
  color: #fff;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

const Props = Vue.extend({
  props: {
    topText: String,
    bottomText: String
  }
})

@Component
export default class GearImportButton extends Props {}
</script>
