<template>
  <div class="links">
    <div class="columns is-centered is-mobile">
      <div v-if="options.showFillItems" class="column is-narrow">
        <GearFillItemsButton v-on:click.native="$emit('fill-items')" />
      </div>
      <div v-if="options.showLock" class="column is-narrow">
        <GearLockButton v-on:click.native="$emit('lock-gear')" />
      </div>
      <div v-if="options.showUnlock" class="column is-narrow">
        <GearUnlockItemsButton v-on:click.native="$emit('unlock-gear')" />
      </div>
      <div v-if="options.showUnlock" class="column is-narrow">
        <GearUnlockEnchantsButton v-on:click.native="$emit('unlock-enchants')" />
      </div>
      <div v-if="options.showUnequip" class="column is-narrow">
        <GearUnequipButton v-on:click.native="$emit('unequip-gear')" />
      </div>
      <div v-if="options.showShare" class="column is-narrow">
        <GearShareButton v-on:click.native="$emit('share-gear')" />
      </div>
      <div v-if="options.showImport" class="column is-narrow">
        <GearImportButton v-on:click.native="$emit('import-gear')" :topText="'Import'" :bottomText="'Armory'" />
      </div>
    </div>
  </div>
</template>

<style>
.btn {
  width: 65px;
  height: 65px;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import GearFillItemsButton from './GearFillItemsButton.vue'
import GearUnlockItemsButton from './GearUnlockItemsButton.vue'
import GearUnlockEnchantsButton from './GearUnlockEnchantsButton.vue'
import GearUnequipButton from './GearUnequipButton.vue'
import GearShareButton from './GearShareButton.vue'
import GearImportButton from './GearImportButton.vue'
import GearButtonBarOptions from '@/wow/interface/GearButtonBarOptions'
import GearLockButton from './GearLockButton.vue'

const GearButtonBarProps = Vue.extend({
  props: {
    options: Object as () => GearButtonBarOptions
  }
})

@Component({
  components: {
    GearImportButton,
    GearShareButton,
    GearLockButton,
    GearUnlockItemsButton,
    GearUnlockEnchantsButton,
    GearUnequipButton,
    GearFillItemsButton
  }
})
export default class GearButtonBar extends GearButtonBarProps {}
</script>
