<template>
  <section class="section has-background-black-ter is-paddingless">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">DPS</p>
          <p class="title">{{ totalDPS }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">AVG DMG</p>
          <p class="title">{{ totalDMG }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Spell Hit Chance</p>
          <p class="title">{{ chanceToHit }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Spell Hit Weight</p>
          <p class="title">{{ spellHitWeight }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Spell Crit Chance</p>
          <p class="title">{{ spellCritChance }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Spell Crit Mult</p>
          <p class="title">{{ spellCritMultiplier }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Spell Crit Weight</p>
          <p class="title">{{ spellCritWeight }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Spell Haste Weight</p>
          <p class="title">{{ spellHasteWeight }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Int Weight</p>
          <p class="title">{{ intWeight }}</p>
          <p class="description">{{ intWeightInverted }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">SP -> DMG Ratio</p>
          <p class="title">{{ spellPowerToDamageRatio }}</p>
        </div>
      </div>
    </nav>
  </section>
</template>

<style scoped>
.level-item {
  color: white;
}

.title {
  color: white;
}

.no-borders {
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import Tools from '@/wow/module/Tools'
import DamageData from '@/wow/class/DamageData'

const Props = Vue.extend({
  props: {
    damageData: DamageData
  }
})

@Component({
  props: {
    damageData: DamageData
  }
})
export default class Header extends Props {
  get totalDPS() {
    return `${Tools.RoundedString(this.damageData.totalDPS(), 2)}`
  }

  get totalDMG() {
    return `${Tools.RoundedString(this.damageData.totalDMG() / 1000, 1)}k`
  }

  get chanceToHit() {
    return `${Tools.RoundedString(this.damageData.cast.chanceToHit(), 0)}%`
  }

  get spellHitWeight() {
    return `${Tools.RoundedString(this.damageData.spellHitWeight, 2)}`
  }

  get spellCritChance() {
    return `${Tools.RoundedString(this.damageData.cast.effectiveSpellCrit, 2)}%`
  }

  get spellCritMultiplier() {
    return `${Tools.RoundedString(this.damageData.cast.critMultiplier, 2)}X`
  }

  get spellCritWeight() {
    return `${Tools.RoundedString(this.damageData.spellCritWeight, 2)}`
  }

  get spellHasteWeight() {
    return `${Tools.RoundedString(this.damageData.spellHasteWeight, 2)}`
  }

  get intWeight() {
    return `${Tools.RoundedString(this.damageData.intWeight, 3)}`
  }

  get intWeightInverted() {
    return `(${Tools.RoundedString(1 / this.damageData.intWeight, 2)} int = 1 weight)`
  }

  get spellPowerToDamageRatio() {
    return `${Tools.RoundedString(this.damageData.spellPowerToDmgRatio, 2)}`
  }
}
</script>
