<template>
  <div class="container is-fluid">
    <table class="table is-fullwidth">
      <tr>
        <td class="mana-label">
          End Of Fight Mana
        </td>
        <td class="has-text-right value">
          {{ startingMana - Math.round(this.damageData.manaUsed) + Math.round(totalManaRegained) }}
        </td>
      </tr>
      <br />
      <tr>
        <td class="mana-label">
          Starting Mana
        </td>
        <td class="has-text-right value">
          {{ startingMana }}
        </td>
      </tr>
      <tr>
        <td class="mana-label">
          Total Encounter Mana Used
        </td>
        <td class="has-text-right value">
          {{ Math.round(this.damageData.manaUsed) }}
        </td>
      </tr>
      <tr>
        <td class="mana-label">
          Total Encounter Mana Regained
        </td>
        <td class="has-text-right value">
          {{ Math.round(totalManaRegained) }}
        </td>
      </tr>
    </table>

    <hr />

    <div class="text-center">Casts</div>
    <table class="table is-fullwidth">
      <tr>
        <td class="mana-label">
          Num Casts
        </td>
        <td class="has-text-right value">
          {{ this.damageData.numCasts(true) }}
        </td>
      </tr>
      <tr>
        <td class="mana-label">
          Effective Mana Cost Per Cast
        </td>
        <td class="has-text-right value">
          {{ Math.round(spellCast.manaCostPerCast) }}
        </td>
      </tr>
      <tr>
        <td class="mana-label">
          Mana Saved By Clearcasting
        </td>
        <td class="has-text-right value">
          {{ Math.round(clearCastingManaSaved) }}
        </td>
      </tr>
      <tr v-if="frostChannelingManaSaved > 0">
        <td class="mana-label">
          Mana Saved By Frost Channeling
        </td>
        <td class="has-text-right value">
          {{ Math.round(frostChannelingManaSaved) }}
        </td>
      </tr>
      <tr v-if="masterOfElementsManaSaved > 0">
        <td class="mana-label">
          Mana Saved By Master Of Elements
        </td>
        <td class="has-text-right value">
          {{ Math.round(masterOfElementsManaSaved) }}
        </td>
      </tr>
    </table>

    <hr />
    <div class="text-center">Mana Regen</div>
    <table class="table is-fullwidth">
      <tr>
        <td class="mana-label">
          Total Mp5 Regen
        </td>
        <td class="has-text-right value">
          {{ Math.round(totalMp5Regen) }}
        </td>
      </tr>
      <tr>
        <td class="mana-label">
          Total Spirit Regen ({{ spellCast.character.percentManaRegenWhileCasting }}% while casting)
        </td>
        <td class="has-text-right value">
          {{ Math.round(totalSpiritRegen) }}
        </td>
      </tr>
      <tr>
        <td class="mana-label">
          Total Encounter Mana Regen
        </td>
        <td class="has-text-right value">
          {{ Math.round(totalPassiveRegen) }}
        </td>
      </tr>
    </table>

    <hr />
    <div class="text-center">Avg Mana Restored</div>
    <table class="table is-fullwidth">
      <tr>
        <td class="mana-label">Mana Gem ({{ manaData.manaGemsUsed }})</td>
        <td class="has-text-right value">
          {{ manaData.manaGemsRestored }}
        </td>
      </tr>
      <tr>
        <td class="mana-label">Tea ({{ manaData.teasUsed }})</td>
        <td class="has-text-right value">
          {{ manaData.teasRestored }}
        </td>
      </tr>
      <tr>
        <td class="mana-label">Mana Pots ({{ manaData.manaPotionsUsed }})</td>
        <td class="has-text-right value">
          {{ manaData.manaPotionsRestored }}
        </td>
      </tr>
      <tr>
        <td class="mana-label">Evocate ({{ manaData.evocatesUsed }})</td>
        <td class="has-text-right value">
          {{ manaData.evocatesRestored }}
        </td>
      </tr>
      <tr>
        <td class="mana-label">Innervate ({{ spellCast.options.numVates }})</td>
        <td class="has-text-right value">
          {{ Math.round(totalInnervateMana) }}
        </td>
      </tr>
      <tr>
        <td class="mana-label">Total Restored</td>
        <td class="has-text-right value">
          {{ Math.round(totalManaRestored) }}
        </td>
      </tr>
    </table>
  </div>
</template>

<style scoped>
.text-center {
  text-align: center;
}

table {
  border-collapse: separate;
  border-spacing: 0px 0px;
}

td {
  border: 0px;
}

td.mana-label {
  width: 85%;
}

td.value {
  width: 15%;
}
</style>

<script lang="ts">
import Cast from '@/wow/class/Cast'
import { Component, Vue } from 'vue-property-decorator'
import ManaData from '@/wow/interface/ManaData'
import MagicSchool from '@/wow/enum/MagicSchool'
import DamageData from '@/wow/class/DamageData'

const Props = Vue.extend({
  props: {
    spellCast: Cast,
    damageData: DamageData,
    manaData: Object as () => ManaData
  }
})

@Component({
  props: {
    spellCast: Cast,
    damageData: DamageData,
    manaData: Object as () => ManaData
  }
})
export default class Mana extends Props {
  get startingMana() {
    return Math.round(this.spellCast.character.mana)
  }

  get clearCastingManaSaved() {
    return Math.round(
      this.spellCast.manaCostPerCastWithoutClearCasting * this.spellCast.character.arcaneConcentrationPercentChance
    )
  }

  get masterOfElementsManaSaved() {
    if (
      this.spellCast.character.masterOfElementsManaCostReductionPercent > 0 &&
      this.spellCast.spell.magicSchool === MagicSchool.Fire
    ) {
      const baseManaCost = this.spellCast.spell.manaCost
      const chanceToCrit = this.spellCast.chanceToCrit() / 100
      const critManaCost = baseManaCost * (1 - this.spellCast.character.masterOfElementsManaCostReductionPercent)
      const reduction = baseManaCost - (chanceToCrit * critManaCost + (1 - chanceToCrit) * baseManaCost)

      return reduction
    }
    return 0
  }

  get frostChannelingManaSaved() {
    if (
      this.spellCast.character.frostChannelingManaCostReductionPercent > 0 &&
      this.spellCast.spell.magicSchool === MagicSchool.Frost
    ) {
      const baseManaCost = this.spellCast.spell.manaCost
      return baseManaCost * this.spellCast.character.frostChannelingManaCostReductionPercent
    }
    return 0
  }

  get totalPassiveRegen() {
    return this.spellCast.character.manaPerTickCasting * this.spellCast.numTicks
  }

  get totalMp5Regen(): number {
    const mp5PerTick = (this.spellCast.character.mp5 / 5) * 2
    return mp5PerTick * this.spellCast.numTicks
  }

  get totalSpiritRegen(): number {
    const spiritRegenPerTick = this.spellCast.character.manaPerTickCastingNoMp5
    return spiritRegenPerTick * this.spellCast.numTicks
  }

  get totalInnervateMana(): number {
    return this.spellCast.character.manaPerInnervate * this.spellCast.options.numVates
  }

  get totalManaRestored(): number {
    return (
      this.manaData.manaGemsRestored +
      this.manaData.manaPotionsRestored +
      this.manaData.teasRestored +
      this.manaData.evocatesRestored +
      this.totalInnervateMana
    )
  }

  get totalManaRegained(): number {
    return this.totalPassiveRegen + this.totalManaRestored
  }
}
</script>
