<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <div class="field">
          <b-checkbox class="is-size-7-mobile" v-model="encounter.options.useMg">
            <span class="is-size-8">(Priority 1) Use Mana Ruby</span>
            <a class="turtle-link" href="https://database.turtle-wow.org/?item=8008" target="_blank">
              <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
            </a>
          </b-checkbox>
        </div>
        <div class="field">
          <b-checkbox class="is-size-7-mobile" v-model="encounter.options.useTea">
            <span class="is-size-8">(Priority 2) Use Teas</span>
            <a class="turtle-link" href="https://database.turtle-wow.org/?spell=19199" target="_blank">
              <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
            </a>
          </b-checkbox>
        </div>
        <div class="field">
          <b-checkbox class="is-size-7-mobile" v-model="manaPots">
            <span class="is-size-8">(Priority 3) Use Mana Potions</span>
            <a class="turtle-link" href="https://database.turtle-wow.org/?item=13444" target="_blank">
              <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
            </a>
          </b-checkbox>
        </div>
        <div class="field">
          <b-checkbox class="is-size-7-mobile" v-model="encounter.options.useEvo">
            <span class="is-size-8">(Priority 4) Use Evocation</span>
            <a class="turtle-link" href="https://database.turtle-wow.org/?spell=12051" target="_blank">
              <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
            </a>
          </b-checkbox>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <b-field label="Num innervates received" label-position="on-border">
            <input class="input is-size-7-mobile" type="number" v-model.number="encounter.options.numVates" />
          </b-field>
        </div>
        <div class="field quickness">
          <b-checkbox class="is-size-7-mobile" v-model="quicknessPots">
            <span class="is-size-8">(Priority 3) Use Quickness Potions</span>
            <a class="turtle-link" href="https://database.turtle-wow.org/?item=61181" target="_blank">
              <font-awesome-icon icon="link" size="sm" style="color: lightblue;" />
            </a>
          </b-checkbox>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.turtle-link {
  margin-left: 5px;
}

.quickness {
  margin-top: 65px;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as wow } from '../wow'
import Encounter from '@/wow/class/Encounter'

const Props = Vue.extend({
  props: {
    encounter: Encounter
  }
})

@Component
export default class General extends Props {
  wow = wow

  get manaPots(): boolean {
    return this.encounter.options.useMp
  }

  set manaPots(val: boolean) {
    this.encounter.options.useMp = val
    if (this.encounter.options.useMp) {
      this.encounter.options.useQp = false
    }
  }

  get quicknessPots(): boolean {
    return this.encounter.options.useQp
  }

  set quicknessPots(val: boolean) {
    this.encounter.options.useQp = val
    if (this.encounter.options.useQp) {
      this.encounter.options.useMp = false
    }
  }
}
</script>
