<template>
  <div>
    <div class="columns">
      <div class="column is-narrow spellColumn">
        <div class="image-wrapper">
          <figure class="image is-64x64">
            <img class="wow-spell__icon" :src="this.damageData.cast.spell.iconFullPath" />
          </figure>
        </div>
      </div>
      <div class="column spellColumn">
        <aside class="wow-spell">
          <header class="wow-spell__header">
            <p class="header__name">{{ damageData.cast.spell.baseName }}</p>
            <p class="header__rank">Rank {{ damageData.cast.spell.rank }}</p>
          </header>
          <section class="wow-spell__type">
            <p class="type__slot">{{ damageData.cast.spell.manaCost }} Base Mana</p>
            <p class="type__item">{{ damageData.cast.spell.range }} yd range</p>
          </section>
          <section class="wow-spell__type">
            <p class="type__slot">{{ damageData.cast.manaCostPerCast.toFixed(0) }} Effective Mana</p>
          </section>
          <section class="wow-spell__type">
            <p class="type__slot">{{ effectiveCastTime }}</p>
            <p class="type__item">{{ baseCastTime }}</p>
          </section>
          <section class="wow-spell__type">
            <p v-if="showHit" class="type__slot">{{ chanceToHit }}</p>
            <p v-if="showCrit" class="type__item">{{ chanceToCrit }}</p>
          </section>
          <section class="wow-spell__stats">
            <div class="stats__list">
              <p v-if="showPartialResist" class="stats_list-item">
                Partial Resist Penalty:
                {{ Number(Number(damageData.cast.partialResistPenalty.toFixed(3)) * 100).toFixed(2) }}%
              </p>
            </div>
          </section>
          <section class="wow-spell__footer">
            <p class="footer__text">{{ description }}</p>
          </section>
        </aside>
      </div>
    </div>
  </div>
</template>

<style scoped>
.spellColumn {
  padding: 0.15rem;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as wow } from '../wow'
import DamageData from '@/wow/class/DamageData'

const Props = Vue.extend({
  props: {
    damageData: DamageData
  }
})

@Component({
  props: {
    damageData: DamageData
  }
})
export default class SpellTooltip extends Props {
  wow = wow

  get showPartialResist() {
    return this.damageData.cast.spell.canPartialResist
  }

  get showHit() {
    return this.damageData.cast.spell.canMiss
  }

  get showCrit() {
    return this.damageData.cast.spell.canCrit
  }

  get description() {
    const school = this.damageData.cast.spell.magicSchoolText
    const minDmg = this.damageData.normalDmg().effective.min.toFixed(0)
    const maxDmg = this.damageData.normalDmg().effective.max.toFixed(0)
    const tickDmg = this.damageData.periodicDmg.effective.tick.toFixed(0)
    const directText = `${minDmg} to ${maxDmg} ${school} damage`
    const periodicText = `${this.damageData.periodicDmg.effective.total.toFixed(0)} ${school} damage over ${
      this.damageData.cast.spell.duration
    } sec`

    switch (this.damageData.cast.spell.baseName.toUpperCase()) {
      case 'HURRICANE':
        return `Creates a violent storm in the target area causing ${tickDmg} Nature damage to enemies every 1 sec, and increasing the time between attacks by 25%.  Lasts 10 sec.  Druid must channel to maintain the spell.`
      case 'INSECT SWARM':
        return `The enemy target is swarmed by insects, decreasing their chance to hit with melee and ranged attacks by 5% and causing ${periodicText}.`
      case 'MOONFIRE':
        return `Burns the enemy for ${directText} and then an additional ${periodicText}.`
      default:
        return `Causes ${directText} to the target.`
    }
  }

  get effectiveCastTime() {
    switch (this.damageData.cast.spell.baseName.toUpperCase()) {
      case 'HURRICANE':
        return `Channeled (10 sec cast)`
      case 'MOONFIRE':
      case 'INSECT SWARM':
        return `Instant`
      default:
        return `${this.damageData.cast.effectiveCastTime().toFixed(2)} sec cast`
    }
  }

  get baseCastTime() {
    switch (this.damageData.cast.spell.baseName.toUpperCase()) {
      case 'HURRICANE':
        return `1 min cooldown`
      case 'MOONFIRE':
      case 'INSECT SWARM':
        return ``
      default:
        return `${this.damageData.cast.spell.castTime} sec base`
    }
  }

  get chanceToHit() {
    return `${Number(this.damageData.cast.chanceToHit).toFixed(0)}% chance to hit`
  }

  get chanceToMiss() {
    return `${Number(this.damageData.cast.chanceToMiss).toFixed(0)}% chance to miss`
  }

  get chanceToCrit() {
    return `${Number(this.damageData.cast.chanceToCrit()).toFixed(2)}% chance to crit`
  }
}
</script>
