<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <p class="is-size-7-mobile">Health</p>
        <p class="is-size-7-mobile">Mana</p>
        <p class="is-size-7-mobile">Gear Armor</p>
        <p class="is-size-7-mobile">Stamina</p>
        <p class="is-size-7-mobile">Intellect</p>
        <p class="is-size-7-mobile">Spirit</p>
        <p class="is-size-7-mobile">Mp5</p>
        <p class="is-size-7-mobile">Hp5</p>
      </div>
      <div class="column">
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.health.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.mana.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.armor.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.stamina.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.intellect.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.spirit.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.equipment.mp5.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.equipment.hp5.toFixed(0) }}</p>
      </div>
    </div>
    <hr />
    <div class="columns is-mobile">
      <div class="column">
        <p class="is-size-7-mobile">Spell Hit</p>
        <p class="is-size-7-mobile">Spell Crit</p>
        <p class="is-size-7-mobile">Spell Haste</p>
        <p class="is-size-7-mobile">Spell Vamp</p>
        <p class="is-size-7-mobile">Spell Pen</p>
        <p class="is-size-7-mobile">Spell Damage</p>
        <p class="is-size-7-mobile">Arcane Damage</p>
        <p class="is-size-7-mobile">Fire Damage</p>
        <p class="is-size-7-mobile">Frost Damage</p>
      </div>
      <div class="column">
        <p class="is-size-7-mobile has-text-right">{{ totalSpellHit }} %</p>
        <p class="is-size-7-mobile has-text-right">
          <b-tooltip v-bind:label="spellCritTooltip" multilined="true" position="is_left"
            >{{ totalSpellCrit }} %
          </b-tooltip>
        </p>
        <p class="is-size-7-mobile has-text-right">
          <b-tooltip v-bind:label="spellHasteTooltip" multilined="true" position="is_left"
            >{{ totalSpellHaste }} %
          </b-tooltip>
        </p>
        <p class="is-size-7-mobile has-text-right">{{ totalSpellVamp }} %</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.spellPenetration }}</p>

        <p class="is-size-7-mobile has-text-right">
          <b-tooltip v-bind:label="spellDamageTooltip" multilined="true" position="is_left">
            {{ spellCast.effectiveSpellPower }}
          </b-tooltip>
        </p>

        <p class="is-size-7-mobile has-text-right">
          <b-tooltip v-bind:label="arcaneDamageTooltip" multilined="true" position="is_left"
            >{{ spellCast.character.arcaneSpellPower + spellCast.character.spellPower + spellCast.buffSpellPower }}
          </b-tooltip>
        </p>

        <p class="is-size-7-mobile has-text-right">
          <b-tooltip v-bind:label="fireDamageTooltip" multilined="true" position="is_left"
            >{{ spellCast.character.fireSpellPower + spellCast.character.spellPower + spellCast.buffSpellPower }}
          </b-tooltip>
        </p>

        <p class="is-size-7-mobile has-text-right">
          <b-tooltip v-bind:label="frostDamageTooltip" multilined="true" position="is_left"
            >{{ spellCast.character.frostSpellPower + spellCast.character.spellPower + spellCast.buffSpellPower }}
          </b-tooltip>
        </p>
      </div>
    </div>
    <hr />
    <div class="columns is-mobile">
      <div class="column">
        <p class="is-size-7-mobile">Fire Resistance</p>
        <p class="is-size-7-mobile">Frost Resistance</p>
        <p class="is-size-7-mobile">Nature Resistance</p>
        <p class="is-size-7-mobile">Shadow Resistance</p>
        <p class="is-size-7-mobile">Arcane Resistance</p>
      </div>
      <div class="column">
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.fireResistance.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.frostResistance.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.natureResistance.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.shadowResistance.toFixed(0) }}</p>
        <p class="is-size-7-mobile has-text-right">{{ spellCast.character.arcaneResistance.toFixed(0) }}</p>
      </div>
    </div>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import Cast from '@/wow/class/Cast'
import { BASE_SPELL_CRIT_MAGE } from '@/wow/module/Constants'
import { Component, Vue } from 'vue-property-decorator'

const Props = Vue.extend({
  props: {
    spellCast: Object as () => Cast
  }
})

@Component
export default class Stats extends Props {
  get totalSpellHit() {
    return this.spellCast.character.getSpellHit(this.spellCast.magicSchoolForSpell)
  }

  get totalSpellCrit() {
    return this.spellCast.character
      .getSpellCrit(this.spellCast.magicSchoolForSpell, this.spellCast.spell.name)
      .toFixed(2)
  }

  get totalSpellHaste() {
    return this.spellCast.character.getEffectiveSpellHaste()
  }

  get totalSpellVamp() {
    return this.spellCast.character.getSpellVamp(this.spellCast.magicSchoolForSpell)
  }

  get spellCritTooltip() {
    const char = this.spellCast.character
    const spellCritFromEquipment = char.spellCritFromEquipment.toFixed(2)
    const spellCritFromIntellect = char.spellCritFromIntellect.toFixed(2)
    const talentSpellCrit = char
      .getTalentSpellCrit(this.spellCast.magicSchoolForSpell, this.spellCast.spell.name)
      .toFixed(2)
    return `CRIT Base:${BASE_SPELL_CRIT_MAGE} Equip:${spellCritFromEquipment} Int:${spellCritFromIntellect} Talents:${talentSpellCrit}`
  }

  get spellHasteTooltip() {
    const char = this.spellCast.character
    const spellHasteFromEquipment = char.spellHasteFromEquipment.toFixed(2)
    const spellHasteFromBuffs = char.getSpellHasteFromBuffs().toFixed(2)
    const talentSpellHaste = char.acceleratedArcanaHaste
    return `HASTE Equip:${spellHasteFromEquipment} Buffs:${spellHasteFromBuffs} Talents:${talentSpellHaste}`
  }

  get spellDamageTooltip() {
    return `${this.spellCast.effectiveSpellPower} (${this.spellCast.baseSpellPower} + ${this.spellCast.buffSpellPower})`
  }

  get arcaneDamageTooltip() {
    return `${this.spellCast.effectiveSpellPower} (${this.spellCast.character.arcaneSpellPower} + ${this.spellCast.character.spellPower} + ${this.spellCast.buffSpellPower})`
  }

  get fireDamageTooltip() {
    return `${this.spellCast.effectiveSpellPower} (${this.spellCast.character.fireSpellPower} + ${this.spellCast.character.spellPower} + ${this.spellCast.buffSpellPower})`
  }

  get frostDamageTooltip() {
    return `${this.spellCast.effectiveSpellPower} (${this.spellCast.character.frostSpellPower} + ${this.spellCast.character.spellPower} + ${this.spellCast.buffSpellPower})`
  }
}
</script>
