<template>
  <div class="content">
    Points Remaining: {{ talentPointsRemaining }}
    <b-tabs class="block">
      <b-tab-item label="Arcane">
        <ArcaneTalents :options="options" />
      </b-tab-item>
      <b-tab-item label="Fire">
        <FireTalents :options="options" />
      </b-tab-item>
      <b-tab-item label="Frost">
        <FrostTalents :options="options" />
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import ArcaneTalents from './ArcaneTalents.vue'
import FireTalents from './FireTalents.vue'
import FrostTalents from './FrostTalents.vue'
import OptionsInterface from '../wow/interface/Options'

const Props = Vue.extend({
  props: {
    options: Object as () => OptionsInterface
  }
})

@Component({
  components: {
    ArcaneTalents,
    FireTalents,
    FrostTalents
  }
})
export default class Talents extends Props {
  get talentPointsRemaining(): number {
    let pointsSpent = 0
    const talents = this.options.character.talents as Record<string, Record<string, number>>
    for (const tree of Object.values(talents)) {
      for (const talent of Object.values(tree)) {
        // check if talent is a number
        pointsSpent += talent
      }
    }

    return 51 - pointsSpent
  }
}
</script>
