<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <b-field label="Level" label-position="on-border">
          <b-select class="is-size-7-mobile" expanded v-model="targetLevel">
            <option value="63">63</option>
            <option value="62">62</option>
            <option value="61">61</option>
            <option value="60">60</option>
            <option value="59">59</option>
            <option value="58">58</option>
            <option value="57">57</option>
          </b-select>
        </b-field>
        <b-field label="Type" label-position="on-border">
          <b-select class="is-size-7-mobile" expanded v-model="targetType">
            <option value="1">Beast</option>
            <option value="2">Demon</option>
            <option value="4">Dragonkin</option>
            <option value="8">Elemental</option>
            <option value="16">Giant</option>
            <option value="32">Humanoid</option>
            <option value="64">Mechanical</option>
            <option value="128">Undead</option>
          </b-select>
        </b-field>
        <b-field label="Shimmer" label-position="on-border">
          <b-select class="is-size-7-mobile" expanded v-model="shimmer">
            <option value="0">None</option>
            <option value="1">Arcane</option>
            <option value="2">Fire</option>
            <option value="3">Frost</option>
            <option value="4">Nature</option>
            <option value="5">Shadow</option>
            <option value="6">Holy</option>
          </b-select>
        </b-field>
        <div class="field winters-chill">
          <b-checkbox v-if="isFrostSpell" class="is-size-7-mobile" v-model="wintersChill">
            Winter's Chill (Currently very simple - 10% crit chance to frost spells)
          </b-checkbox>
        </div>
        <div class="field">
          <b-checkbox class="is-size-7-mobile" v-model="curseOfElements">
            Curse of Elements
          </b-checkbox>
        </div>
        <div class="field">
          <b-checkbox class="is-size-7-mobile" v-model="spellVulnerability">
            Spell Vulnerability
          </b-checkbox>
        </div>
      </div>
      <div class="column">
        <b-field label="Resistance" label-position="on-border">
          <input
            class="input is-size-7-mobile"
            disabled="true"
            type="number"
            v-model="encounter.options.target.spellResistance"
          />
        </b-field>
        <div v-if="isFireSpell">
          <div class="field">
            <b-field label="Scorch Vulnerability Stacks" label-position="on-border">
              <input class="input is-size-7-mobile" type="number" min="0" max="5" v-model="scorchVulnerability" />
            </b-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.ignite .tooltip_label {
  width: 400px;
  margin-top: 5px;
}

.winters-chill {
  margin-top: 10px;
}

.input[disabled] {
  background-color: #363636;
  color: #fff;
  border-color: #7a7a7a;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Debuff from '@/wow/enum/Debuffs'
import Encounter from '@/wow/class/Encounter'
import MagicSchool from '@/wow/enum/MagicSchool'

const Props = Vue.extend({
  props: {
    encounter: Encounter
  }
})

@Component
export default class TargetSettings extends Props {
  debuff = Debuff

  get isFrostSpell(): boolean {
    return this.encounter.spellCast.magicSchoolForSpell === MagicSchool.Frost
  }

  get isFireSpell(): boolean {
    return this.encounter.spellCast.magicSchoolForSpell === MagicSchool.Fire
  }

  get targetType(): string {
    return this.encounter.options.target.type.toString()
  }

  set targetType(val: string) {
    const targetType = parseInt(val, 10)
    this.encounter.options.target.type = targetType
    this.encounter.equipment.scoreInfo.targetType = targetType
    this.encounter.reload()
  }

  get targetLevel(): string {
    return this.encounter.options.target.level.toString()
  }

  set targetLevel(val: string) {
    this.encounter.options.target.level = parseInt(val, 10)
    this.encounter.reload()
  }

  get shimmer(): string {
    return this.encounter.options.target.shimmer.toString()
  }

  set shimmer(val: string) {
    this.encounter.options.target.shimmer = parseInt(val, 10)
    this.encounter.reload()
  }

  get scorchVulnerability(): number {
    return this.encounter.options.target.debuffs[Debuff.ScorchVulnerability]
  }

  set scorchVulnerability(val: number) {
    if (val === 0) {
      delete this.encounter.options.target.debuffs[Debuff.ScorchVulnerability]
      return
    }
    this.encounter.options.target.debuffs[Debuff.ScorchVulnerability] = val
    this.encounter.reload()
  }

  get igniteStacks(): number {
    return this.encounter.options.target.debuffs[Debuff.Ignite]
  }

  set igniteStacks(val: number) {
    if (val === 0) {
      delete this.encounter.options.target.debuffs[Debuff.Ignite]
      return
    }
    this.encounter.options.target.debuffs[Debuff.Ignite] = val
    this.encounter.reload()
  }

  get curseOfElements(): boolean {
    return this.encounter.options.target.debuffs.hasOwnProperty(Debuff.CurseOfElements)
  }

  set curseOfElements(val: boolean) {
    if (val) {
      this.encounter.options.target.debuffs[Debuff.CurseOfElements] = 1
    } else {
      delete this.encounter.options.target.debuffs[Debuff.CurseOfElements]
    }
    this.encounter.reload()
  }

  get wintersChill(): boolean {
    return this.encounter.options.target.debuffs.hasOwnProperty(Debuff.WintersChill)
  }

  set wintersChill(val: boolean) {
    if (val) {
      this.encounter.options.target.debuffs[Debuff.WintersChill] = 1
    } else {
      delete this.encounter.options.target.debuffs[Debuff.WintersChill]
    }
    this.encounter.reload()
  }

  get spellVulnerability(): boolean {
    return this.encounter.options.target.debuffs.hasOwnProperty(Debuff.SpellVulnerability)
  }

  set spellVulnerability(val: boolean) {
    if (val) {
      this.encounter.options.target.debuffs[Debuff.SpellVulnerability] = 1
    } else {
      delete this.encounter.options.target.debuffs[Debuff.SpellVulnerability]
    }
    this.encounter.reload()
  }
}
</script>
