<template>
  <div id="app">
    <Component v-for="component in components" :key="component" :is="component" :encounter="encounter"></Component>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as globalData } from './wow'

import Content from './components/Content.vue'
import Footer from './components/Footer.vue'
import Encounter from './wow/class/Encounter'
import Options from './wow/interface/Options'
import ItemSlot from './wow/enum/ItemSlot'
import {
  BACK_ENCHANT_KEY,
  BACK_ITEM_KEY,
  CHEST_ENCHANT_KEY,
  CHEST_ITEM_KEY,
  FEET_ENCHANT_KEY,
  FEET_ITEM_KEY,
  FINGER2_ITEM_KEY,
  FINGER_ITEM_KEY,
  HANDS_ENCHANT_KEY,
  HANDS_ITEM_KEY,
  HEAD_ENCHANT_KEY,
  HEAD_ITEM_KEY,
  LEGS_ENCHANT_KEY,
  LEGS_ITEM_KEY,
  MAINHAND_ENCHANT_KEY,
  MAINHAND_ITEM_KEY,
  NECK_ITEM_KEY,
  OFFHAND_ITEM_KEY,
  RANGED_ITEM_KEY,
  SHOULDER_ENCHANT_KEY,
  SHOULDER_ITEM_KEY,
  TRINKET2_ITEM_KEY,
  TRINKET_ITEM_KEY,
  WAIST_ENCHANT_KEY,
  WAIST_ITEM_KEY,
  WRIST_ENCHANT_KEY,
  WRIST_ITEM_KEY
} from './wow/module/Constants'
import { FrostDps } from './wow/module/Specs'
import { Defaults } from './wow/module/Defaults'

@Component({
  components: {
    Content,
    Footer
  }
})
export default class App extends Vue {
  components: Array<string> = ['Content', 'Footer']
  encounter = new Encounter(globalData.Defaults)

  mounted() {
    // check for options
    const uri = window.location.search.substring(1)
    const params = new URLSearchParams(uri)
    const urlOptions = params.get('options')
    if (urlOptions !== null) {
      this.encounter = new Encounter(this.parseOptions(urlOptions, params))
    }
    this.parseGear(params)
  }

  parseOptions(urlOptions: string, params: URLSearchParams): Options {
    const tempOptions = JSON.parse(urlOptions)

    if (!urlOptions.includes('maxItemLevel')) {
      tempOptions.maxItemlevel = undefined
    }

    if (!urlOptions.includes('partialCasts')) {
      tempOptions.partialCasts = Defaults.partialCasts
    }

    const phc = params.get('phc')
    if (phc) {
      tempOptions.partialCasts = phc === '1'
    }

    if (!urlOptions.includes('castLag')) {
      tempOptions.castLag = Defaults.castLag
    }

    if (!urlOptions.includes('useMg')) {
      tempOptions.useMg = Defaults.useMg
    }

    if (!urlOptions.includes('useTea')) {
      tempOptions.useTea = Defaults.useTea
    }

    if (!urlOptions.includes('useMp')) {
      tempOptions.useMp = Defaults.useMp
    }

    if (!urlOptions.includes('useQp')) {
      tempOptions.useQp = Defaults.useQp
    }

    if (!urlOptions.includes('useEvo')) {
      tempOptions.useEvo = Defaults.useEvo
    }

    if (!urlOptions.includes('numVates')) {
      tempOptions.numVates = 0
    }

    const manaOpts = params.get('manaOpts')
    if (manaOpts) {
      tempOptions.useMg = manaOpts[0] === '1'
      tempOptions.useTea = manaOpts[1] === '1'
      tempOptions.useMp = manaOpts[2] === '1'
      tempOptions.useEvo = manaOpts[3] === '1'
      tempOptions.numVates = parseInt(manaOpts[4], 10)
      tempOptions.useQp = manaOpts[5] === '1'
    }

    const urlTalents = params.get('talents')
    if (urlTalents) {
      // convert talents back into object format
      const talents = {
        arcane: {
          arcaneSubtlety: parseInt(urlTalents[0], 10),
          arcaneFocus: parseInt(urlTalents[1], 10),
          improvedArcaneMissiles: parseInt(urlTalents[2], 10),

          wandSpecialization: parseInt(urlTalents[3], 10),
          magicAbsorption: parseInt(urlTalents[4], 10),
          arcaneConcentration: parseInt(urlTalents[5], 10),

          magicAttunement: parseInt(urlTalents[6], 10),
          arcaneImpact: parseInt(urlTalents[7], 10),
          arcaneResilience: parseInt(urlTalents[8], 10),

          improvedManaShield: parseInt(urlTalents[9], 10),
          improvedCounterspell: parseInt(urlTalents[10], 10),
          arcaneMeditation: parseInt(urlTalents[11], 10),

          presenceOfMind: parseInt(urlTalents[12], 10),
          acceleratedArcana: parseInt(urlTalents[13], 10),

          arcaneInstability: parseInt(urlTalents[14], 10),
          arcanePotency: parseInt(urlTalents[15], 10),

          arcanePower: parseInt(urlTalents[16], 10),
          brillianceAura: parseInt(urlTalents[17], 10)
        },
        fire: {
          improvedFireball: parseInt(urlTalents[18], 10),
          impact: parseInt(urlTalents[19], 10),

          ignite: parseInt(urlTalents[20], 10),
          flameThrowing: parseInt(urlTalents[21], 10),
          improvedFireBlast: parseInt(urlTalents[22], 10),

          incinerate: parseInt(urlTalents[23], 10),
          improvedFlamestrike: parseInt(urlTalents[24], 10),
          pyroblast: parseInt(urlTalents[25], 10),
          burningSoul: parseInt(urlTalents[26], 10),

          improvedScorch: parseInt(urlTalents[27], 10),
          improvedFireWard: parseInt(urlTalents[28], 10),
          masterOfElements: parseInt(urlTalents[29], 10),

          criticalMass: parseInt(urlTalents[30], 10),
          blastWave: parseInt(urlTalents[31], 10),

          firePower: parseInt(urlTalents[32], 10),

          combustion: parseInt(urlTalents[33], 10)
        },
        frost: {
          frostWarding: parseInt(urlTalents[34], 10),
          improvedFrostbolt: parseInt(urlTalents[35], 10),
          elementalPrecision: parseInt(urlTalents[36], 10),

          iceShards: parseInt(urlTalents[37], 10),
          frostbite: parseInt(urlTalents[38], 10),
          improvedFrostNova: parseInt(urlTalents[39], 10),
          permafrost: parseInt(urlTalents[40], 10),

          piercingIce: parseInt(urlTalents[41], 10),
          coldSnap: parseInt(urlTalents[42], 10),
          improvedBlizzard: parseInt(urlTalents[43], 10),

          arcticReach: parseInt(urlTalents[44], 10),
          frostChanneling: parseInt(urlTalents[45], 10),
          shatter: parseInt(urlTalents[46], 10),

          iceBlock: parseInt(urlTalents[47], 10),
          improvedConeOfCold: parseInt(urlTalents[48], 10),

          wintersChill: parseInt(urlTalents[49], 10),

          iceBarrier: parseInt(urlTalents[50], 10)
        }
      }

      tempOptions.character.talents = talents
    } else {
      // default to frost
      tempOptions.character.talents = FrostDps
    }

    const urlBuffs = params.get('buffs')
    if (urlBuffs) {
      tempOptions.character.buffs = urlBuffs.split('')
    } else {
      tempOptions.character.buffs = Defaults.character.buffs
    }

    // clear search slots
    tempOptions.itemSearchSlot = undefined
    tempOptions.enchantSearchSlot = undefined
    return tempOptions
  }

  getGearIdsFromQueryStringV1(params: URLSearchParams) {
    return {
      headItemId: params.get('headItem'),
      headEnchantId: params.get('headEnchant'),
      neckItemId: params.get('neckItem'),
      shoulderItemId: params.get('shoulderItem'),
      shoulderEnchantId: params.get('shoulderEnchant'),
      backItemId: params.get('backItem'),
      backEnchantId: params.get('backEnchant'),
      chestItemId: params.get('chestItem'),
      chestEnchantId: params.get('chestEnchant'),
      wristItemId: params.get('wristItem'),
      wristEnchantId: params.get('wristEnchant'),
      mainhandItemId: params.get('mainhandItem'),
      mainhandEnchantId: params.get('mainhandEnchant'),
      offhandItemId: params.get('offhandItem'),
      rangedItemId: params.get('rangedItem'),
      handsItemId: params.get('handsItem'),
      handsEnchantId: params.get('handsEnchant'),
      waistItemId: params.get('waistItem'),
      waistEnchantId: params.get('waistEnchant'),
      legsItemId: params.get('legsItem'),
      legsEnchantId: params.get('legsEnchant'),
      feetItemId: params.get('feetItem'),
      feetEnchantId: params.get('feetEnchant'),
      fingerItemId: params.get('fingerItem'),
      finger2ItemId: params.get('finger2Item'),
      trinketItemId: params.get('trinketItem'),
      trinket2ItemId: params.get('trinket2Item')
    }
  }

  getGearIdsFromQueryStringV2(params: URLSearchParams) {
    return {
      headItemId: params.get(HEAD_ITEM_KEY),
      headEnchantId: params.get(HEAD_ENCHANT_KEY),
      neckItemId: params.get(NECK_ITEM_KEY),
      shoulderItemId: params.get(SHOULDER_ITEM_KEY),
      shoulderEnchantId: params.get(SHOULDER_ENCHANT_KEY),
      backItemId: params.get(BACK_ITEM_KEY),
      backEnchantId: params.get(BACK_ENCHANT_KEY),
      chestItemId: params.get(CHEST_ITEM_KEY),
      chestEnchantId: params.get(CHEST_ENCHANT_KEY),
      wristItemId: params.get(WRIST_ITEM_KEY),
      wristEnchantId: params.get(WRIST_ENCHANT_KEY),
      mainhandItemId: params.get(MAINHAND_ITEM_KEY),
      mainhandEnchantId: params.get(MAINHAND_ENCHANT_KEY),
      offhandItemId: params.get(OFFHAND_ITEM_KEY),
      rangedItemId: params.get(RANGED_ITEM_KEY),
      handsItemId: params.get(HANDS_ITEM_KEY),
      handsEnchantId: params.get(HANDS_ENCHANT_KEY),
      waistItemId: params.get(WAIST_ITEM_KEY),
      waistEnchantId: params.get(WAIST_ENCHANT_KEY),
      legsItemId: params.get(LEGS_ITEM_KEY),
      legsEnchantId: params.get(LEGS_ENCHANT_KEY),
      feetItemId: params.get(FEET_ITEM_KEY),
      feetEnchantId: params.get(FEET_ENCHANT_KEY),
      fingerItemId: params.get(FINGER_ITEM_KEY),
      finger2ItemId: params.get(FINGER2_ITEM_KEY),
      trinketItemId: params.get(TRINKET_ITEM_KEY),
      trinket2ItemId: params.get(TRINKET2_ITEM_KEY)
    }
  }

  parseGear(params: URLSearchParams) {
    const equip = this.encounter.equipment

    // check for version
    const version = params.get('version')
    let data
    if (version === '2') {
      data = this.getGearIdsFromQueryStringV2(params)
    } else {
      data = this.getGearIdsFromQueryStringV1(params)
    }

    if (data.headItemId && data.headItemId !== '') {
      equip.setItemFromId(ItemSlot.Head, parseInt(data.headItemId, 10))
      if (data.headEnchantId && data.headEnchantId !== '') {
        equip.setEnchantFromId(ItemSlot.Head, parseInt(data.headEnchantId, 10))
      }
    }
    if (data.neckItemId && data.neckItemId !== '') {
      equip.setItemFromId(ItemSlot.Neck, parseInt(data.neckItemId, 10))
    }
    if (data.shoulderItemId && data.shoulderItemId !== '') {
      equip.setItemFromId(ItemSlot.Shoulder, parseInt(data.shoulderItemId, 10))
      if (data.shoulderEnchantId && data.shoulderEnchantId !== '') {
        equip.setEnchantFromId(ItemSlot.Shoulder, parseInt(data.shoulderEnchantId, 10))
      }
    }
    if (data.backItemId && data.backItemId !== '') {
      equip.setItemFromId(ItemSlot.Back, parseInt(data.backItemId, 10))
      if (data.backEnchantId && data.backEnchantId !== '') {
        equip.setEnchantFromId(ItemSlot.Back, parseInt(data.backEnchantId, 10))
      }
    }
    if (data.chestItemId && data.chestItemId !== '') {
      equip.setItemFromId(ItemSlot.Chest, parseInt(data.chestItemId, 10))
      if (data.chestEnchantId && data.chestEnchantId !== '') {
        equip.setEnchantFromId(ItemSlot.Chest, parseInt(data.chestEnchantId, 10))
      }
    }
    if (data.wristItemId && data.wristItemId !== '') {
      equip.setItemFromId(ItemSlot.Wrist, parseInt(data.wristItemId, 10))
      if (data.wristEnchantId && data.wristEnchantId !== '') {
        equip.setEnchantFromId(ItemSlot.Wrist, parseInt(data.wristEnchantId, 10))
      }
    }
    if (data.mainhandItemId && data.mainhandItemId !== '') {
      equip.setItemFromId(ItemSlot.Mainhand, parseInt(data.mainhandItemId, 10))
      if (data.mainhandEnchantId && data.mainhandEnchantId !== '') {
        equip.setEnchantFromId(ItemSlot.Mainhand, parseInt(data.mainhandEnchantId, 10))
      }
    }
    if (data.offhandItemId && data.offhandItemId !== '') {
      equip.setItemFromId(ItemSlot.Offhand, parseInt(data.offhandItemId, 10))
    }
    if (data.rangedItemId && data.rangedItemId !== '') {
      equip.setItemFromId(ItemSlot.Ranged, parseInt(data.rangedItemId, 10))
    }
    if (data.handsItemId && data.handsItemId !== '') {
      equip.setItemFromId(ItemSlot.Hands, parseInt(data.handsItemId, 10))
      if (data.handsEnchantId && data.handsEnchantId !== '') {
        equip.setEnchantFromId(ItemSlot.Hands, parseInt(data.handsEnchantId, 10))
      }
    }
    if (data.waistItemId && data.waistItemId !== '') {
      equip.setItemFromId(ItemSlot.Waist, parseInt(data.waistItemId, 10))
      if (data.waistEnchantId && data.waistEnchantId !== '') {
        equip.setEnchantFromId(ItemSlot.Waist, parseInt(data.waistEnchantId, 10))
      }
    }
    if (data.legsItemId && data.legsItemId !== '') {
      equip.setItemFromId(ItemSlot.Legs, parseInt(data.legsItemId, 10))
      if (data.legsEnchantId && data.legsEnchantId !== '') {
        equip.setEnchantFromId(ItemSlot.Legs, parseInt(data.legsEnchantId, 10))
      }
    }
    if (data.feetItemId && data.feetItemId !== '') {
      equip.setItemFromId(ItemSlot.Feet, parseInt(data.feetItemId, 10))
      if (data.feetEnchantId && data.feetEnchantId !== '') {
        equip.setEnchantFromId(ItemSlot.Feet, parseInt(data.feetEnchantId, 10))
      }
    }
    if (data.fingerItemId && data.fingerItemId !== '') {
      equip.setItemFromId(ItemSlot.Finger, parseInt(data.fingerItemId, 10))
    }
    if (data.finger2ItemId && data.finger2ItemId !== '') {
      equip.setItemFromId(ItemSlot.Finger2, parseInt(data.finger2ItemId, 10))
    }
    if (data.trinketItemId && data.trinketItemId !== '') {
      equip.setItemFromId(ItemSlot.Trinket, parseInt(data.trinketItemId, 10))
    }
    if (data.trinket2ItemId && data.trinket2ItemId !== '') {
      equip.setItemFromId(ItemSlot.Trinket2, parseInt(data.trinket2ItemId, 10))
    }

    equip.lockItems()
    equip.lockEnchants()
  }
}
</script>
